.selector {
  margin: auto;
    width: 50%;
    padding: 10px;
    color:white;
    margin-bottom: 10px;
}

/* .login {
  margin-top: 50px;
  margin: auto;
} */

.textWhite{
  color:white;
  font-size: 24px;
  font-weight: bold;
}

.questionBox {
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  background-color: beige;
  width: 50%;
  height: 100px;
  margin: auto;
  padding: 35px;
  margin-bottom: 25px;
}

.questionBox form label{
  color:black;
}

.button{
  margin-top:10px;
}


/* ---------------------------------------------------------------------------------- */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
